#main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: lightsalmon;
	min-height: 100vh;
}

#settings,
#plan,
#resources,
#sankey,
#recipes {
	padding-bottom: 1em;
	margin-bottom: 1em;
}

/** -----------
 SETTINGS
 **/
#settings {
	background-color: lightcyan;
}

.settings-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid black;
}

.settings-item--name {
	flex: 1;
}
.settings-item--value {
	flex: 5;
}

/** -----------
 PLANNER
 **/
#plan {
	background-color: lightgreen;
}

.plan-item,
.plan-item-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid black;
}

.plan-item.disabled {
	background-color: lightgray;
}

.plan-item-header {
	font-weight: bolder;
}

.plan-item--item,
.plan-item--rate {
	flex: 10;
	display: flex;
	flex-direction: column;
	padding: 0.2em 1em;
}

.plan-item--action {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.2em 1em;
}

/** -----------
 SANKEY
 **/
#sankey {
	background-color: white;
}

/** -----------
 RESOURCES
 **/
#resources {
	background-color: lightyellow;
}

.resources-item,
.resources-item-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid black;
}

.resources-item.explicit {
	background-color: lightgreen;
}

.resources-item.external {
	background-color: lightblue;
}

.resources-item-header {
	font-weight: bolder;
}

.resources-item--item,
.resources-item--rate,
.resources-item--machines,
.resources-item--uses,
.resources-item--usedby {
	flex: 5;
	display: flex;
	flex-direction: column;
	padding: 0.2em 1em;
}

.resources-item--action {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.2em 1em;
}

.resources-item--uses-item,
.resources-item--usedby-item {
	display: flex;
	flex-direction: row;
}

.resources-item--uses-item.recursive {
	background-color: lightgray;
}

.resources-item--uses-item--rate,
.resources-item--usedby-item--rate {
	flex: 1;
}

.resources-item--uses-item--name,
.resources-item--usedby-item--name {
	flex: 3;
}

/** -----------
 RECIPES
 **/
#recipes {
	background-color: lightblue;
}

.recipes-item,
.recipes-item-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid black;
}

.recipes-item-header {
	font-weight: bolder;
}

.recipes-item--name,
.recipes-item--inputs,
.recipes-item--time,
.recipes-item--outputs {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 0.2em 1em;
}

.recipes-item--inputs-item,
.recipes-item--outputs-item {
	display: flex;
	flex-direction: row;
}

.recipes-item--inputs-item--amount,
.recipes-item--outputs-item--amount {
	flex: 1;
}

.recipes-item--inputs-item--name,
.recipes-item--outputs-item--name {
	flex: 5;
}
